{% load staticfiles %}
{% if redirected_from == 'booking' %}
    <div>
        Please register an account or sign in to continue booking.
    </div>
{% endif %}
<div class="booking-form">
<form action="/register/" method="post" class="form-horizontal" id="booking_form">
    <h1>Registration Form</h1>
    {% csrf_token %}
    {% for field in user_form %}
            <div id="register-{{ field.label }}" class="form-group" >
            <label class=" control-label col-xs-4 col-sm-4 col-md-4 " > {{ field.label_tag }}</label>
            <div class="col-xs-5 col-sm-5 col-md-5">
                {{ field }}
                {{field.errors}}
            </div>
        </div>
        {% if field.errors %}
            <script>
                $(document).ready(function() {
                    $('#id_' + '{{ field.name }}').css('border-color', 'red');
                });
            </script>
        {% endif %}
    {% endfor %}
    <input type="submit" value="Submit" class="booksub col-xs-12 col-sm-4 col-md-5 col-sm-offset-4">
</form>
    </div>
