{% extends 'base.html' %}

{% block content %}
{%load staticfiles%}
<div class="container-fluid" style="padding-bottom:40px;">
    <div class="row">
        <div class="col-md-8">
<h3 class =""style="text-align:left;">Alloy Wheels</h3>
<hr>
<h4 style="text-align:left;"><b></b></h4>
<p style="text-align:left;">Sed eius facilis consequuntur cu, eam no ubique cotidieque efficiantur.
    Duo te erat tantas audire, posse malis suscipiantur qui no. In ius vero graeci.
    <br>Altera sapientem aliquando ea eam, nam cibo assum repudiare ad.
    An soluta mentitum eam, sed an viris tollit dicant. No mea tacimates repudiare, id eam ubique laoreet.
    Laoreet platonem vel ei, docendi eligendi nec in, te sed sint choro inimicus.
    Has in facilisis disputationi, per enim menandri an. Cu sed errem viris urbanitas, vis nisl ocurreret posidonium te.
    Mea id eruditi conceptam consetetur.<br>
    Servicing of the Billstein and Tein brands through our Shocks Shop Suspension franchise is also available.</p><br>
</div>
    </div>
    </div>
{% endblock %}