{% extends 'base.html' %}
{%load staticfiles%}
{% block content %}
    {% if not submitted %}
<div class="container-fluid" style="padding-bottom:40px;">
    <div class="row">
<h3 class =""style="text-align:left;">
Contact us</h3><hr>
<div class="tyre-calculator col-md-4">
    <h3>Make an enquiry now</h3>
    <div class="calculator"><img src="{% static 'images/tyres/u138.jpg' %}"></div>
    <form action="/contact-us" method="post" id="enquiry">
        <label for="first_name">First Name: </label><input name="first_name" id="first_name" type="text" placeholder="First name"/><br>
        <label for="last_name">Last Name: </label><input name="last_name" id="last_name" type="text" placeholder="Last name"/><br>
        <label for="phone">Phone: </label><input name="phone" id="phone" type="text" placeholder="Phone number"/><br>
        <label for="email">Email: </label><input name="email" id="email" type="text" placeholder="Email Address"/><br>
        <label for="make">Vehicle make:</label><input name="make" id="make" type="text" placeholder="Vehicle make"/><br>
        <label for="model">Vehicle model:</label><input name="model" id="model" type="text"placeholder="Vehicle model" /><br>
        <label for="size">Current tyre size: </label><input name="size" id="size" type="text" placeholder="Current tyre size"/><br>
        <label for="brand">Current tyre brand:</label><input name="brand" id="brand" type="text" placeholder="Current tyre brand"/><br>
        <label for="quantity">No. of tyres required:</label><input name="quantity" id="quantity" type="text" placeholder="No. of tyres req."/><br>
        <label for="comments">Comments: </label><textarea name="comments" id="comments" type="textarea" placeholder="Comments"></textarea><br>
    </form>
    <button type="submit" form="enquiry" value="Submit">Send email</button>
    {% else %}
     <div class="davymessage">
        <p> thank {{ name }}. We will come back to you as ap </p>
         </div>
    <a href="/login" class="btn" style="float:left;"> <i class="fa fa-backward fa-3x"  aria-hidden="true"></i> Back</a>

    <a href="/"  class="btn" style="float:right;"> <i class="fa fa-home fa-3x" aria-hidden="true"></i> home</a>
    {% endif %}
    </div>
        <div class="headerAddress col-xs-6" style="margin-top:5px; color:black;">
        131 Central Park Drive
        <br>Cnr Winstone Place, Henderson,0610
        <br><a href="tel:+64-9-836-6943"><i class="fa fa-phone-square" aria-hidden="true"></i>Phone
        09-836-69435</a>
       <br> <a href="tel:+021-9-836-6943"><i class="fa fa-phone-square" aria-hidden="true"></i>After Hours
        09-836-69435</a>
</div>
            </div>
        </div>
{% endblock %}