{% extends 'base.html' %}

{% block content %}
{%load staticfiles%}
<div class="container-fluid" style="padding-bottom:40px;">
    <div class="row">
        <div class="col-md-8">
<h3 class =""style="text-align:left;">
Fleet Serices</h3>
<hr>
<h4 style="text-align:left;"><b></b></h4>
<p style="text-align:left;" >We have a team of professional fleet service technicians with four fleet service trucks enabling us to service a large area at anytime from Silverdale to Wiri.
    Not only are truck fleets serviced, but anything with rubber tyres – tractors, trailers, pay loaders, you name it – we can service it..</p></div>
</div>
    </div>
{% endblock %}