{% extends 'base.html' %}

{% block content %}
{%load staticfiles%}
<div class="container-fluid" style="padding-bottom:40px;">
    <div class="row">
        <div class="col-md-8">
<h3 class =""style="text-align:left;">
 Heavy Machinery</h3>
<hr>
<h4 style="text-align:left;"><b></b></h4>
<p style="text-align:left;">We can supply and fit all of the worlds leading brands of shock absorbers.<br>
        Servicing of the Billstein and Tein brands through our Shocks Shop Suspension franchise is also available.</p><br>
        </div>
</div>
    </div>
{% endblock %}