{% extends 'base.html' %}

{% block content %}
{%load staticfiles%}
<div class="container-fluid" style="padding-bottom:40px;">
    <div class="row">
        <div class="col-md-8">
<h3 class =""style="text-align:left;">
Nitro Fill</h3>
<hr>
<h4 style="text-align:left;"><b></b></h4>
<p style="text-align:left;">
The latest addition to our services is NitroFill, Nitrogen Tyre Inflation.<br>
    We have already received feedback from customers on the improved fuel economy, especially large car owners.<br>
    $29 per set of 4 tyres is a small fee to pay when consider the benefits.</p><br>
</div>
    </div>
    </div>
{% endblock %}