{% extends 'base.html' %}

{% block content %}
{%load staticfiles%}
<div class="container-fluid">
    <div class="row">
<h3 class =""style="text-align:left;">
Shock Absorbers</h3>
<hr>

<h4 style="text-align:left;"><b>Shock Absorbers and suspension products</b></h4>
<p style="text-align:left;">We can supply and fit all of the worlds leading brands of shock absorbers.<br>
        Servicing of the Billstein and Tein brands through our Shocks Shop Suspension franchise is also available.</p><br>
<h4 style="text-align:left;"><b>Suspension Parts</b></h4>
<p style="text-align:left;" >We can cater to your vehicles needs for either basic WOF repairs as well as performance upgrades with our full<br>
        range of Bush/Coil Springs/Sway bars and general parts replacement as well as<br>
        performing a customised wheel alignment to your vehicle as the last finishing touch.</p>
</div>
    </div>
{% endblock %}