{% extends 'base.html' %}

{% block content %}
{%load staticfiles%}
<div class="container-fluid" style="padding-bottom:40px;">
    <div class="row">
        <div class="col-md-8">
<h3 class =""style="text-align:left;">
Wheel Alignment</h3>
<hr>

<h4 style="text-align:left;"><b>About the service</b></h4>
<p style="text-align:left;">While it’s often referred to simply as an ”alignment” or ”wheel alignment” it’s really complex suspension angles that are being measured and a variety of suspension components that are being adjusted. This makes an alignment an important suspension-tuning tool that greatly influences the operation of the vehicle’s tires.
Out-of-alignment conditions occur when the suspension and steering systems are not operating at their desired angles.
    Out-of-alignment conditions are most often caused by spring sag or suspension wear (ball joints, bushings, etc.) on an older vehicle. They can also be the result of an impact with a pothole or curb, or a change in vehicle ride height (lowered or raised) on any vehicle regardless of age.
Incorrect alignment settings will usually result in more rapid tire wear.
    Therefore, alignment should be checked whenever new tires or suspension components are installed, and any time unusual tire wear patterns appear. Alignment should also be checked after the vehicle has encountered a major road hazard or curb.
</p><br>
<h4 style="text-align:left;"><b>Why to do wheel alignment</b></h4>
<p style="text-align:left;" >Put simply, wheel alignment is the science of precisely measuring and then positioning the wheels on your car to ensure the least amount of wear to your tyres.
    When correctly set it will significantly extend the life of your tyres, your car also should handle better, be safer to drive and enjoy greater fuel economy.</p>
<br>
<h4 style="text-align:left;"><b>Our recommendations</b></h4>
<p style="text-align:left;" >We recommend that you wheel align your vehicle every 6 months or 10000km’s which ever comes first.</p>
<br>
<h4 style="text-align:left;"><b>Our wheel alignment equipment</b></h4>
<p style="text-align:left;" >The shop is equipped with up to date wheel alignment equipment and technicians with extensive knowledge and experience in this area.
</p><br>
        </div>
</div>
    </div>

{% endblock %}