{% extends 'base.html' %}

{% block content %}
    {% for booking in bookings %}
        <div>
            <p>Date/Time:</p> <div class="col-sm-8">{{ booking.booking_time }}</div>
            <p>Service:<p> <div class="col-sm-8">{{ booking.service.name }}</div>
            <p>Service Employee: {{ booking.service_employee.username }}<p>
            <p>Vehicle Registration: {{ booking.registration_number }}</p>
            <p>Notes: {{ booking.additional_information }}<p>
            <hr>
        </div>
    {% endfor %}
{% endblock %}
