
{% extends 'base.html' %}

{% block content %}
{%load staticfiles%}
     <table class="service-table" align="center">
  <tr class="service-R">
   <th class="service-R">
    <div class="service-box">
      <img src="{%static 'images/services/u353.jpg'%}" alt="..." class="service-img">
      <div class="">
          <div class="service-label">
        <p><a href="#">Small Car</a></p>
              </div>
      </div>
    </div>
  </th>
      <th class="service-R">
    <div class="service-box">
      <img src="{%static 'images/services/u353.jpg'%}" alt="..." class="service-img">
      <div class="">
          <div class="service-label">
        <p><a href="#">Small Car</a></p>
              </div>
      </div>
    </div>
    <th class="service-R">
    <div class="service-box">
      <img src="{%static 'images/services/u353.jpg'%}" alt="..." class="service-img">
      <div class="">
          <div class="service-label">
        <p><a href="#">Small Car</a></p>
              </div>
      </div>
    </div>
    </div></th>
  </tr>
  <tr class="service-R">
    <th class="service-R">
    <div class="service-box">
      <img src="{%static 'images/services/u353.jpg'%}" alt="..." class="service-img">
      <div class="">
          <div class="service-label">
        <p><a href="#">Small Car</a></p>
              </div>
      </div>
    </div>
      <th class="service-R">
    <div class="service-box">
      <img src="{%static 'images/services/u353.jpg'%}" alt="..." class="service-img">
      <div class="">
          <div class="service-label">
        <p><a href="#">Small Car</a></p>
              </div>
      </div>
    </div>
     <th class="service-R">
    <div class="service-box">
      <img src="{%static 'images/services/u353.jpg'%}" alt="..." class="service-img">
      <div class="">
          <div class="service-label">
        <p><a href="#">Small Car</a></p>
              </div>
      </div>
    </div>
  </tr>
</table>


{% endblock %}