
{% extends 'base.html' %}

{% block content %}
{%load staticfiles%}
<div class="container-fluid">
    <div class="row">
<a href="/unimplemented/">
 <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="thumbnailC">
       <img src= "{%static 'images/services/u343.jpg'%}">
      <div class="caption">
        <h3>24/7 FLEET SERVICE</h3>
      </div>
          <div>
          <p>...</p></div>
    </div>
  </div>
</a>
<a href="/unimplemented/">
<div class="col-xs-12 col-sm-6 col-md-4">
    <div class="thumbnailC">
      <img src= "{%static 'images/services/u345.jpg'%}">
      <div class="caption">
        <h3>NITRO FILL</h3>
      </div>
        <div>
        <p>...</p></div>
    </div>
  </div>
  </a>
<a href="/unimplemented/">
  <div class=" col-xs-12 col-sm-6 col-md-4">
    <div class="thumbnailC">
          <img src= "{%static 'images/services/u347.png'%}">
      <div class="caption">
        <h3>WHEEL ALIGNMENT</h3>
      </div>
        <div>
        <p>...</p></div>
    </div>
  </div>
</a>
</div>
    </div>
<div class="container-fluid">
    <div class="row">
<a href="/unimplemented/">
  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="thumbnailC">
        <img src= "{%static 'images/services/u349.jpg'%}">
      <div class="caption">
        <h3>RIMS</h3>
      </div>
   <div>
   <p>...</p></div>
    </div>
  </div>
  </a>
<a href="/unimplemented/">
<div class="col-xs-12 col-sm-6 col-md-4">
    <div class="thumbnailC">
       <img src= "{%static 'images/services/u351.jpg'%}">
      <div class="caption">
        <h3>SHOCK SHOP</h3>
      </div>
        <div>
        <p>...</p></div>
    </div>
  </div>
  </a>
<a href="/unimplemented/">
  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="thumbnailC">
     <img src= "{%static 'images/services/u353.jpg'%}">
      <div class="caption">
        <h3>HEAVY MACHINERY</h3>
      </div>
        <div>
        <p>...</p></div>
    </div>
  </div>
</a>
</div>
    </div>
{% endblock %}
