
{% extends 'base.html' %}

{% block content %}
{%load staticfiles%}
<div class="container-fluid">
    <div class="row">
<a href="/davytyres/fleet-service/">
 <div class="col-sm-4">
    <div class="thumbnailC">
       <img src= "{%static 'images/services/u343.jpg'%}">
      <div class="caption">
        <h3>24/7 FLEET SERVICE</h3>
      </div>
    </div>
  </div>
</a>
<a href="/davytyres/nitro-fill/">
<div class="col-sm-4">
    <div class="thumbnailC">
      <img src= "{%static 'images/services/u345.jpg'%}">
      <div class="caption">
        <h3>NITRO FILL</h3>
      </div>
    </div>
  </div>
  </a>
<a href="/davytyres/wheel-alignment/">
  <div class="col-sm-4">
    <div class="thumbnailC">
          <img src= "{%static 'images/services/u347.png'%}">
      <div class="caption">
        <h3>WHEEL ALIGNMENT</h3>
      </div>
    </div>
  </div>
</a>
</div>
    </div>
<div class="container-fluid">
    <div class="row">
<a href="/davytyres/alloy-wheels/">
  <div class="col-sm-4">
    <div class="thumbnailC">
        <img src= "{%static 'images/services/u349.jpg'%}">
      <div class="caption">
        <h3>ALLOY WHEELS</h3>
      </div>
    </div>
  </div>
  </a>
<a href="/davytyres/shock-shop/">
<div class="col-sm-4">
    <div class="thumbnailC">
       <img src= "{%static 'images/services/u351.jpg'%}">
      <div class="caption">
        <h3>SHOCK SHOP</h3>
      </div>
    </div>
  </div>
  </a>
<a href="/davytyres/heavy-machinery/">
  <div class="col-sm-4">
    <div class="thumbnailC">
     <img src= "{%static 'images/services/u353.jpg'%}">
      <div class="caption">
        <h3>HEAVY MACHINERY</h3>
      </div>
    </div>
  </div>
</a>
</div>
    </div>
{% endblock %}
