{% extends 'base.html' %}

{% block content %}
{%load staticfiles%}

 <a href="/unimplemented/"><div class="col-xs-12 col-sm-6 col-md-4">
    <div class="thumbnailC">
       <img src= "{%static 'images/tyres/u75.JPG'%}" alt="...">
      <div class="caption">
       <h3>some car</h3></div>
          <div>
          <p>...</p></div>
    </div>
  </div></a>
<a href="/unimplemented/">
<div class="col-xs-12 col-sm-6 col-md-4">
    <div class="thumbnailC">
       <img src= "{%static 'images/tyres/u77.JPG'%}">
      <div class="caption">
        <h3>some car</h3>
      </div>
        <div>
        <p>...</p></div>
    </div>
  </div></a>
<a href="/unimplemented/">
  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="thumbnailC">
         <img src= "{%static 'images/tyres/u79.JPG'%}">
      <div class="caption">
        <h3>some car</h3>
      </div>
        <div>
        <p>...</p></div>
    </div>
  </div>
  </a>

<a href="/unimplemented/">
  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="thumbnailC">
       <img src= "{%static 'images/tyres/u85.JPG'%}">
      <div class="caption">
        <h3>some car</h3>
      </div>
   <div>
   <p>...</p></div>
    </div>
  </div>
 </a>
<a href="/unimplemented/">
<div class="col-xs-6 col-sm-6 col-md-4">
    <div class="thumbnailC">
       <img src= "{%static 'images/tyres/u81.JPG'%}">
      <div class="caption">
        <h3>some car</h3>
      </div>
        <div>
        <p>...</p></div>
    </div>
  </div>
 </a>
<a href="/unimplemented/">
  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="thumbnailC">
      <img src= "{%static 'images/tyres/u83.JPG'%}">
      <div class="caption">
        <h3>some car</h3>
      </div>
        <div>
        <p>...</p></div>
    </div>
  </div>
</a>


{% endblock %}