{% load staticfiles %}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel= 'stylesheet' href= "{% static 'bootstrap/css/stylesheet.css' %}" type="text/css"/>
    <link rel= 'stylesheet' href= "{% static 'bootstrap/css/bootstrap.min.css' %}" type = 'text/css'/>
    <link href='//fonts.googleapis.com/css?family=Karla' rel='stylesheet' type='text/css'/>
    <meta charset="UTF-8">
    <title>Davy Tyres</title>
    {# Jquery & Jquery-UI #}
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <link href="{% static "css/base.css" %}" type="text/css" rel="stylesheet" />
    {% block kendo %}
    {% endblock %}
</head>

<style>
    body{
        margin: 0;
    }
    div{
{#        border: solid 1px #000;#}
    }
</style>
<body>
    {% include "header.html" %}
   <div class="conatiner-fluid" >
    <div class="row">
        <section class="col-sm-8 col-sm-push-2">
            {% block content %}
             {% endblock %}
        </section>
        <aside class="col-sm-2">
davy tyres
        </aside>

        <aside class="col-sm-2 col-sm-pull-8">

        </aside>

    </div>
</div>

    {% include "footer.html" %}

</body>
</html>