{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Davy Tyres</title>
    {# Jquery & Jquery-UI #}
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    {% block kendo %}
    {% endblock %}
</head>

<style>
    body{
        margin: 0;
    }
    div{
{#        border: solid 1px #000;#}
    }
</style>
<body>
    {% include "header.html" %}
    <div id="content">
        <!-- Loads content page dynamically -->
        {% block content %}
        {% endblock %}
    </div>
    {% include "footer.html" %}

</body>
</html>