{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Davy Tyres</title>
    {# Jquery & Jquery-UI #}
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    {# Kendo UI (http://demos.telerik.com/kendo-ui/) under Apache2 Licence  #}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/kendo-ui-core/2014.1.416/styles/kendo.common.min.css" type="text/css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/kendo-ui-core/2014.1.416/styles/kendo.default.min.css" type="text/css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/kendo-ui-core/2014.1.416/js/kendo.ui.core.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/kendo-ui-core/2014.1.416/js/kendo.ui.core.min.js.map"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/kendo-ui-core/2014.1.416/js/kendo.datetimepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/kendo-ui-core/2014.1.416/js/kendo.datetimepicker.min.js.map"></script>


    <script>
        $(function() {
            $( "#id_booking_time" ).kendoDateTimePicker({ value:new Date(), format: "yyyy-MM-dd hh:mm" });
        });
    </script>
</head>

<style>
    body{
        margin: 0;
    }
    div{
{#        border: solid 1px #000;#}
    }
</style>
<body>
    {% include "header.html" %}
    <div id="content">
        <!-- Loads content page dynamically -->
        {% block content %}
        {% endblock %}
    </div>
    {% include "footer.html" %}

</body>
</html>