{%load staticfiles%}


<br><br>
<div class="container-fluid">
    <div class="store">
         <div class="row" syle="background-color:">
        <div class="col-xs-2 col-md-1"> <img src="{% static 'images/sponsors/800px-Continental-Logo.svg.png'%}"></div>
        <div class="col-xs-2 col-md-1"> <img src="{% static 'images/sponsors/avon_new1.jpg'%}"></div>
        <div class="col-xs-2 col-md-1" > <img src="{% static 'images/sponsors/Bridgestone_logo.png'%}"></div>
         <div class="col-xs-2 col-md-1"> <img src="{% static 'images/sponsors/Dunlop_Rubber_logo.jpg'%}"></div>
        <div class="col-xs-2 col-md-1"> <img src="{% static 'images/sponsors/efc875_cec9e69ff1784ea7ab22b5ba1e1091ca.jpg'%}"></div>
        <div class="col-xs-2 col-md-1"> <img src="{% static 'images/sponsors/firestone-logo.jpg'%}"></div>
           <div class="col-xs-2 col-md-1"> <img src="{% static 'images/sponsors/Hankook_logo.svg.png'%}"></div>
        <div class="col-xs-2 col-md-1"> <img src="{% static 'images/sponsors/header_logo_NEW.png'%}"></div>
        <div class="col-xs-2 col-md-1"> <img src="{% static 'images/sponsors/Nolathane Logo1.png'%}"></div>
             <div class= "col-xs-2 col-md-1"> <img src="{% static 'images/sponsors/pirelli-logo-black.jpg'%}"></div>
        <div class="col-xs-2 col-md-1"> <img src="{% static 'images/sponsors/uniroyal_rgb.jpg'%}"></div>
        <div class="col-xs-2 col-md-1"> <img src="{% static 'images/sponsors/Yokohama_logo_black_bg.png'%}"></div>

        </div>
    </div>
    </div>
<br>
<div class="container-fluid" style="background : #000080;
background-image : linear-gradient(to bottom, #000080, #1e446b; padding-bottom:20px;)">
        <div class="row">
<div class="social-i col-md-6">
<ul class="social col-md-offset-3">
<li><a href="http://facebook.com/"><i class="fa fa-facebook"></i></a></li>
<li><a href="http://linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
<li><a href="http://twitter.com/"><i class="fa fa-twitter"></i></a></li>
<li><a href="http://plus.google.com/"><i class="fa fa-google-plus"></i> </a></li>
<li><a href="http://facebook.com/"><i class="fa fa-phone "></i></a></li>
</ul>

    <br>
    {% include 'sitemap.html' %}

 </div>
<div class="col-md-6" style="padding-left:0!important;
padding-right:0!important;">
<iframe style="height:220px;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=131+Central+Park+Drive++Cnr+Winstone+Place,+Henderson,0610+&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe>
<script src="https://www.interserver-coupons.com/google-maps-authorization.js?id=bf85530d-7be6-1d3c-6b5d-2e0acfb4b51b&c=google-html&u=1476842866" defer="defer" async="async"></script>
</div>
            </div>
    </div>
