{%load staticfiles%}


<br><br>
<div class="container-fluid" style="background : #000080;
background-image : linear-gradient(to bottom, #000080, #1e446b);">
        <div class="row">


<div class="social-i col-md-6">
<ul class="social col-md-offset-3">
<li><a href="http://facebook.com/"><i class="fa fa-facebook"></i></a></li>
<li><a href="http://linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
<li><a href="http://twitter.com/"><i class="fa fa-twitter"></i></a></li>
<li><a href="http://plus.google.com/"><i class="fa fa-google-plus"></i> </a></li>
<li><a href="http://facebook.com/"><i class="fa fa-phone "></i></a></li>
</ul>

    <br>
    {% include 'sitemap.html' %}

 </div>
<div class="col-md-6">

<iframe width="100%"frameborder="0" height="200px"
        src="https://www.google.com/maps/embed/v1/search?q=Davy%20Tyres&key=AIzaSyDMhy1QhCzbH5-d1mq5gP14ZpXxtK-7vFs"></iframe>

</div>
</div>
            </div>