{% extends 'base.html' %}

{% block content %}
    {% load staticfiles %}
<div class="container-fluid">
    <div class="row">
       <div class="hidden-xs hidden-sm col-md-3">
                {% if not submitted %}
<div class="tyre-calculator">
    <p>Enquiry Form</p>
    <div class="calculator"><img src="{% static 'images/tyres/u138.jpg' %}"></div>
    <form action="/contact-us" method="post" id="enquiry">
        <label for="first_name">First Name: </label><input name="first_name" id="first_name" type="text" placeholder="First name"/><br>
        <label for="last_name">Last Name: </label><input name="last_name" id="last_name" type="text" placeholder="Last name"/><br>
        <label for="phone">Phone: </label><input name="phone" id="phone" type="text" placeholder="Phone number"/><br>
        <label for="email">Email: </label><input name="email" id="email" type="text" placeholder="Email Address"/><br>
        <label for="make">Vehicle make:</label><input name="make" id="make" type="text" placeholder="Vehicle make"/><br>
        <label for="model">Vehicle model:</label><input name="model" id="model" type="text"placeholder="Vehicle model" /><br>
        <label for="size">Current tyre size: </label><input name="size" id="size" type="text" placeholder="Current tyre size"/><br>
        <label for="brand">Current tyre brand:</label><input name="brand" id="brand" type="text" placeholder="Current tyre brand"/><br>
        <label for="quantity">No. of tyres required:</label><input name="quantity" id="quantity" type="text" placeholder="No. of tyres req."/><br>
        <label for="comments">Comments: </label><textarea name="comments" id="comments" type="textarea" placeholder="Comments"></textarea><br>
    </form>
    <button type="submit" form="enquiry" value="Submit">Send email</button>
    {% else %}
        <p> thank we will contact you as ap {{ name }} </p>
    {% endif %}
    </div>
        </div>
    <div class="carouselHome col-xs-12 col-sm-12 col-md-9">
        <div class="gallery js-flickity" data-flickity='{ "autoPlay": 10000, "pauseAutoPlayOnHover": false }'>
            <div class="gallery-cell"><img src="{% static 'images/dulop xpres.jpg' %}"></div>
            <div class="gallery-cell"><img src="{% static 'images/Michelin2013WinterPromoAsset-640x244.jpg' %}"></div>
            <div class="gallery-cell"><img src="{% static 'images/GYCA_RebateTile_011416.jpg' %}"></div>
            <div class="gallery-cell"><img src="{% static 'images/Michelin2013WinterPromoAsset-640x244.jpg' %}"></div>
        </div>
    </div>

<div class="DavyTyresInfo col-md-9"><h3 style="text-align:left;"> A little bit about us...</h3><p style="text-align:left;">Davy Tyres is a family owned and operated tyre shop in Henderson.
                           Our compnay which prides itself in not only providing leading brand tyre products, but also having latest equipment and five star service.
                           <br>Davy Tyres not only does cater for cars but bikes, wheelbarrows, four-wheel drives, trucks no matter the size.
                           <br>Recently we have updated our Davy Tyres website.
    Now you can <a href="">register </a>with us, make a <a href="">booking online </a>and make an <a href="">online enquiry.</a></p>
    <div class="davyOffer"><h3 style="text-align:left;">What we can offer...</h3>
   <p style="text-align:left;"> 5 <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
             Service, 24/7 Mobile Truck Service, Extensive Tyre Selection, Car and Truck Alignments, Shock Shop, Wheel Balancing,
  Alloy Wheels,Competetive Prices, Friendly, Helpful staff.  </p></div>
    <h3 style="text-align:left;">We are proud partners with...</h3>
     <div class="">
         <div class="row">
        <aside class="col-xs-4"><img src="{% static 'images/imageedit_1_6032904453.png' %}"></aside>
        <section class="col-xs-4"><img src="{% static 'images/Michelin.svg.png' %}"></section>
        <aside class="col-xs-1"><img src="{% static 'images/shock-shop.gif.png' %}"></aside>
             </div>
    </div>
    </div>

</div>
</div>
<div class="container-fluid">
<div class="row">

<div class="service_index">

    <div class="col-md-4 col-lg-4"><img src="{% static 'images/servicesIndex/1416927181159620.jpg' %}">
        <div>
           <p> We can supply and fit the most suitable tyres for your vehicle no matter what you drive or what your
            driving needs are.
            Whether you drive the family people mover doing all those important jobs or a touring sedan,
            classic car, or hi-performance machine, we have the tyres for you. We also have a good range
            of secondhand tyres.</p>
        </div>
    </div>
    <div class="col-md-4 col-lg-4"><img src="{% static 'images/slide1.png' %}">
        <div>We have a team of professional fleet service technicians with four fleet service trucks enabling us to
            service a large area at anytime from Silverdale to Wiri.
            Not only are truck fleets serviced,
            but anything with rubber tyres – tractors, trailers, pay loaders, you name it – we can service it.
        </div>
    </div>
    <div class="col-md-4 col-lg-4"><img src="{% static 'images/CV_group_picture_web.png' %}">
        <div>
            We can supply and fit all of the worlds leading brands of shock absorbers.
            Servicing of the Billstein and Tein brands through our S
            hocks Shop Suspension franchise is also available.
        </div>
    </div>
    </div>

    </div>
    </div>

<br>



     <div class="store">
          <h3 class="hidden-xs" style="text-align:center;">Our Henderson Store</h3>
         <div class="row">
        <aside class="col-md-4"> <img src="{% static 'images/DSC_0106.JPG '%}"></aside>
        <section class="col-md-4"><img src="{% static 'images/DSC_0113.JPG' %}"></section>
        <aside class="col-md-4"><img src="{% static 'images/DSC_0108.JPG' %}"></aside>
             </div>
         </div>

    <script>
        var flkty = new Flickity('.main-gallery', {
            // options
            cellAlign: 'left',
            contain: true
        });
    </script>

{% endblock %}
