{%load staticfiles%}
<nav class="navbar-login  navbar-fixed-top cpf-af-header">
<div class = "container-fluid">
 <ul class="menuLogin">
     <img src="{%static 'images/DavySSLogo210x200-1.png'%}" alt="Logo" class="logoD">
     <a href="#" class="menuLogHome"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
     <a href="#" class="menuLog"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <div class="members-name">Admin</div></a>
     <a href="#" class="menulogHome"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span></a>
     </ul>
    </div>
</nav>