{%load staticfiles%}
<nav class="navbar-login  navbar-fixed-top cpf-af-header">
<div class = "container-fluid">
 <ul class="menuLogin">
     <img src="{%static 'images/DavySSLogo210x200-1.png'%}" alt="Logo" class="logoD">
    {% if user.is_authenticated %}
        <a href="#" class="menuLog">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            <div class="members-name">{{ request.user.first_name }}</div>
        </a>
    {% else %}
        <a href="/login" class="menuLog">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            <div class="members-name">Login</div>
        </a>
    {% endif %}

     <a href="#" class="menulogHome"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span></a>
     </ul>
    </div>
</nav>