{%load staticfiles%}
<div class ="brand-box">
<div class="brand-box container-fluid">
    <a href="/"><img src= "{%static 'images/DavySSLogo210x200.png'%}" alt="Logo" width="150px" height= "100px"class="davy-logo
    col-sm-8 col-xs-8 col-md-2" align = "left"></a>
  <div class="hidden-xs hidden-sm col-md-4 col-md-offset-6" id="address" align="left">
    <a href="https://www.google.co.nz/maps/dir/''/daVY+TYRES/@-36.8739084,174.5576845,12z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x6d0d404a9021b4b7:0x965174423012537a!2m2!1d174.6277245!2d-36.8739289">
      <br>Lorem ipsum dolor sit amet,
      <br>consectetuer adipiscing elit.
      <br>Aenean commodo ligula eget dolor.
    </a>
    </div>
</div>
  </div>


<ul class="topnav" id="myTopnav">
    <li>{% if user.is_authenticated %}
        <a href="/services/bookings/">
           {{ request.user.first_name }}
        </a>
    {% else %}
        <a href="/login">My Account
        </a>
    {% endif %}</li>
  <li><a href="/services/detail/">Booking</a></li>
  <li><a href="/catalogue/">Tyres</a></li>
  <li><a href="/services/">Services</a></li>
  <li><a href="/services/">About Us</a></li>
  <li class="icon">
    <a href="javascript:void(0);" style="font-size:15px;" onclick="myFunction()">☰</a>
  </li>
</ul>


<script>
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>






