{%load staticfiles%}
<div class ="brand-box">
    <div class="col-xs-12 col-sm-12  col-md-4">
        Cnr Central Park & Winston Place<br>
            Henderson<br>
        <div class="phoneNumber"><a href="tel:+64-9-836-6943"><i class="fa fa-phone-square" aria-hidden="true"></i>Phone
        09-836-69435</a>
          <div class="phoneNumber"><a href="tel:+64-9-836-6943"><i class="fa fa-mobile" aria-hidden="true"></i>After Hours
        021-836-69435</a>
   </div>
</div>
</div>
</div>

<ul class="topnav" id="myTopnav">
    {% if user.is_authenticated %}
          <li class="col-md-offset-1"> <a href="/services/bookings/" class="menuLog">
            {{ request.user.first_name }}
        </a><a href="">LOGOUT</a>
          {% else %}
       <a href="/login/">LOGIN</a>
    {% endif %}</li>
      <li><a href="/">HOME</a></li>
      <li><a href="/services/detail/">BOOKING</a></li>
      <li><a href="/catalogue/">TYRES</a></li>
      <li><a href="/services/">SERVICES</a></li>
      <li><a href="/davytyres/deals/">SALES</a></li>
      <li><a href="http://www.advantagetyres.co.nz/home">ADVANTAGE TYRES</a></li>
      <li><a href="/davytyres/about-us/">SHOCK SHOP</a></li>
      <li><a href="/davytyres/about-us/">ABOUT US</a></li>
      <li><a href="/davytyres/about-us/">CONTACT US</a></li>
      <li class="icon">
        <a href="javascript:void(0);" onclick="myFunction()"><i class="fa fa-bars" aria-hidden="true"></i>
    </a>
      </li>
</ul>


<script>
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>






