{%load staticfiles%}
<div class ="brand-box">
    <a href="/"><img src= "{%static 'images/DavySSLogo210x200.png'%}" alt="Logo" class="davy-logo
   col-xs-3 col-sm-3 col-md-3 col-md-offset-1"></a>
    <div class="col-xs-8 col-sm-8  col-md-4 col-md-offset-3 ol-xs-offset-3">131  Henderson Valley Road<br>
            Henderson<br>
            Auckland 0612
        <div class="phoneNumber"><a href="tel:+64-9-836-6943"><i class="fa fa-phone-square" aria-hidden="true"></i>PH
        09-836-69435</a>
          <div class="phoneNumber"><a href="tel:+64-9-836-6943"><i class="fa fa-truck" aria-hidden="true"></i>Fleet
        09-836-69435</a>

   </div>
</div>
</div>
</div>

<ul class="topnav" id="myTopnav">
    <li class="col-md-offset-1"><a href="/" > <i class="fa fa-home fa-2x" aria-hidden="true" id="home"></i></a>
    {% if user.is_authenticated %}
          <a href="/services/bookings/" class="menuLog">
            {{ request.user.first_name }}
        </a>
    {% else %}
        <a href="/login">LOGIN/REGISTER
        </a>
    {% endif %}</li>
  <li><a href="/services/detail/">BOOKING</a></li>
  <li><a href="/catalogue/">TYRES</a></li>
  <li><a href="/services/">SERVICES</a></li>
  <li><a href="/davytyres/deals/">SALES</a></li>
    <li><a href="/services/">TYRE MEASUREMENTS</a></li>
    <li><a href="/davytyres/about-us/">ABOUT US</a></li>
  <li class="icon">
    <a href="javascript:void(0);" onclick="myFunction()"><i class="fa fa-bars" aria-hidden="true"></i>
</a>
  </li>
</ul>


<script>
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>






