{%load staticfiles%}

    <div class="site-map">
        <ul class="socialMedia">
            <li><a href=""><img src = "{%static 'images/home/u53.png'%}"></a></li>
            <li><a href=""><img src = "{%static 'images/home/u49.png'%}"></a></li>
            <li><a href=""><img src = "{%static 'images/home/u51.png'%}"></a></li>
            <li><a href=""><img src = "{%static 'images/home/u55.png'%}"></a></li>
            </ul>
     <table class="site-map-links">
  <tr class="siteM">
   <th class="siteM"><a href="">Sponsors</a></th></li>
    <th class="siteM"><a href=""> About Us</a></th></li>
    <th class="siteM"><a href=""> Specials</a></th></li>
  </tr>
  <tr class="siteM">
    <th class="siteM"><a href=""> link</a></th></li>
    <th class="siteM"><a href=""> Link</a></th></li>
    <th class="siteM"><a href=""> Link</a></th></li>
  </tr>
   <tr class="siteM">
    <th class="siteM"><a href=""> link</a></th></li>
    <th class="siteM"><a href=""> Link</a></th></li>
    <th class="siteM"><a href=""> Link</a></th></li>
  </tr>
 <tr class="siteM">
    <th class="siteM"><a href=""> link</a></th></li>
    <th class="siteM"><a href=""> Link</a></th></li>
    <th class="siteM"><a href=""> Link</a></th></li>
  </tr>
 <tr class="siteM">
    <th class="siteM"><a href=""> link</a></th></li>
    <th class="siteM"><a href=""> Link</a></th></li>
    <th class="siteM"><a href=""> Link</a></th></li>
  </tr>

</table>

     </div>



