{%load staticfiles%}
<hr noshade size="5px">

    <div class="site-map">
        <div>
       <div class="address">
       <p> Contact Us:</p>
               Phone:    09-836-6943
           <br>Email:ayden@davytyres.co.nz
        <br>We are located on the corner of
        <br>Central Park Drive and Winston Place,
        <br>Henderson.
</div>
        <div >
<iframe width="200px" height="150px" frameborder="0"
        src="https://www.google.com/maps/embed/v1/search?q=Davy%20Tyres&key=AIzaSyDMhy1QhCzbH5-d1mq5gP14ZpXxtK-7vFs"></iframe>
   </div>

        </div>
    </div>



