{% extends 'base.html' %}

{% block content %}

<div class="detailed-search">
<div class="col-xs-5 col-sm-4 col-md-3" style="margin-top:380px;float-right;">
{%include "catalogue/tyre-calculator.html"%}
    </div>

<div class="col-xs-5 col-sm-6 col-md-7" id="display-search" style="float-left;">
<h3 style="text-align:center;"> Search</h3>
    <hr>
    <ul style="float:left;">
  <li>Item</li>
  <li>Item</li>
  <li>Item</li>
   <li>Item</li>
  <li>Item</li>
  <li>Item</li>
  <li>Item</li>
  <li>Item</li>
  <li>Item</li>
  <li>Item</li>
  <li>Item</li>
  <li>Item</li>
</ul>
    </div>
</div>


{% endblock %}