  <div class="davyOffer col-md-9">
             <p style="text-align:left;"> What we have to offer</p>
             <div class="row">
                              <ul class="col-md-5">
             <li>5 <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
             Service
             </li>
             <li>24/7 Mobile Truck Service</li>
             <li>Extensive Tyre Selection</li>
             <li>Car and Truck Alignments</li></ul>
            <ul class="col-md-4"> <li>Shock Shop</li>
             <li>Wheel Balancing</li>
             <li>Alloy Wheels</li></ul>
              <ul class="col-md-3">
             <li>Competetive Prices</li>
             <li>Friendly, Helpful staff</li></ul>

                 </div>
      </div>